@import 'variables';

@mixin button {
	display: inline-block;
	border: none;
	text-decoration: none;
	font-size: 1rem;
	background-color: $primary;
	margin: 5px;
	padding: 10px 20px;
	cursor: pointer;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;

	&:focus {
		outline: 1px solid #fff;
		outline-offset: -4px;
	}

	&:active {
		transform: scale(0.99);
	}

	&:disabled {
		background-color: #cfd8dc;
	}
}

.compliance-toggle {
	display: flex;
	overflow: hidden;

	.compliance-change-radio {
		position: absolute !important;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		width: 1px;
		border: 0;
		overflow: hidden;

		&:checked + label {
			background-color: $primary-dark;
			box-shadow: none;
			color: white;
		}
	}

	label {
		background-color: #cfd8dc;
		color: rgba(0, 0, 0, 0.6);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		width: 33%;
		line-height: 1;
		text-align: center;
		padding: 8px 16px;
		margin-right: -1px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		transition: all 0.1s ease-in-out;

		&:hover {
			cursor: pointer;
		}

		&:first-of-type {
			margin-left: 8px;
		}

		&:last-of-type {
			margin-right: 8px;
		}
	}
}

.table-display-toggle {
	display: flex;
	overflow: hidden;

	.table-display-radio {
		position: absolute !important;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		width: 1px;
		border: 0;
		overflow: hidden;

		&:checked + label {
			background-color: $primary-dark;
			box-shadow: none;
			color: white;
		}
	}

	label {
		background-color: #cfd8dc;
		display: flex;
		justify-content: center;
		align-items: center;
		color: rgba(0, 0, 0, 0.6);
		width: 50%;
		font-size: 14px;
		line-height: 1;
		text-align: center;
		padding: 8px 16px;
		margin-right: -1px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		transition: all 0.1s ease-in-out;

		&:hover {
			cursor: pointer;
		}

		&:first-of-type {
			margin-left: 8px;
		}

		&:last-of-type {
			margin-right: 8px;
		}
	}
}

.imr-select {
	margin: 5px;
	padding: 10px 5px;
}

.filter-btn {
	@include button;
}

.clear-btn {
	@include button;
}
