$primary: #00acc1;
$primary-dark: #007c91;
$primary-light: #5ddef4;

// compliance score colors
$non-compliant: #fff;
$primary-compliance: #bae4b3;
$secondary-compliance: #74c476;
$operational-compliance: #238b45;

// compliance change colors
$three-drop: #a50026;
$two-drop: #d73027;
$one-drop: #fdae61;
$no-change: #fff;
$one-increase: #a6d96a;
$two-increase: #1a9850;
$three-increase: #006837;

// color blind safe palette
$three-drop-cb: #8e0152;
$two-drop-cb: #c51b7d;
$one-drop-cb: #de77ae;
$one-increase-cb: #7fbc41;
$two-increase-cb: #4d9221;
$three-increase-cb: #276419;
