@import 'table';
@import 'filter';
@import 'variables';
@import 'legend';
@import 'tooltip';

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
}

.header {
	height: 50px;
	width: 100vw;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;

	.title {
		font-size: 18px;
		margin: 0 0 0 16px;
	}
}

.main {
	display: flex;
	height: calc(100vh - 50px);
}

.toolbar {
	display: flex;
	flex-direction: column;
	border-right: 1px solid #e0e0e0;
	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5px 0;
	}
}

.filter-toolbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
}

.content {
	display: flex;
	flex: 1;
	overflow-y: auto;
	justify-content: center;
	padding: 32px 16px;
}

@media only screen and (max-width: 900px) {
	.main {
		flex-direction: column;
		height: 100%;
	}
}
