@import 'table';
@import 'filter';
@import 'variables';
@import 'legend';
@import 'tooltip';

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body,
html {
	margin: 0;
	padding: 0;
}

.header {
	position: sticky;
	width: 100vw;
	border-bottom: 1px solid #e0e0e0;


	&__main {
		height: 50px;
		display: flex;	
		align-items: center;
		justify-content: space-between;
		margin: 0 16px 0 16px;

		.title {
			font-size: 18px;
		}

		.sections-btn {
			cursor: pointer;
			font-size: 16px;
			display: flex;
			align-items: center;

			&__icon--open {
				content: url('chevron-up.svg');
			}

			&__icon--closed {
				content: url('chevron-down.svg');
			}

		}
	}

	&__sub {
		display: block;
		margin: 0 16px 0 16px;
	}

	&__sub--hidden {
		display: none;
	}
}

.main {
	display: flex;
	height: calc(100vh - 50px);
}

.main--extended {
	display: flex;
	height: calc(100vh - 152px);
}

.toolbar {
	display: flex;
	flex-direction: column;
	border-right: 1px solid #e0e0e0;

	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5px 0;
	}
}

.filter-toolbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
}

.content {
	display: flex;
	flex: 1;
	overflow-y: auto;
	justify-content: center;
	padding: 32px 16px;
}

.section-link {
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
	margin: 2px;
	height: 30px;
	border: 1px #9d9d9d solid;
	transition: background-color 0.2s ease-out;


	&--click {
		transition: background-color 0.2s ease-in;
		background-color: #9d9d9d;

	}
}

@media only screen and (max-width: 900px) {
	.main {
		flex-direction: column;
		height: 100%;
	}
}
